{% extends 'base.twig.html' %}

{% block content %}
	<h2 class="glyphicon glyphicon-wrench center-block divided"> Panel de administracion</h2>
	<ul>
		<li><a href="articulos">Administrar articulos de inicio</a></li>
		<li><a href="biografias">Administrar biografias</a></li>
		<li><a href="junta">Editar junta directiva</a></li>
		<li><a href="docs">Agregar y editar biblioteca de documentos</a></li>
		<li><a href="fotos">Adjuntar fotos a la galeria</a></li>
		<!--<li><a href="video">Agregar material audiovisual</a></li>-->
		<li><a href="sesion">Agregar o Eliminar sesiones del Calendario</a></li>
		<li><a href="encuesta">Gestionar la encuesta de la portada.</a></li>
		<li><a href="mensajes">Ver los mensajes recibidos.</a></li>
	</ul>
{% endblock %}