{% extends 'base.twig.html' %}

{% block content %}
	<div id="section" class="well well-lg">
		<h1><strong>Administrador de videos.</strong></h1>
		<h4>Los videos deben estar convertidos al formato MP4 H264.</h4>
		{% if add != 0 %}
			<div id='confirmation'> El video se cargo con exito.</div>
		{% endif %}
		{% if dele != 0 %}
			<div id='confirmation'> El video ha sido eliminado.</div>
		{% endif %}
		<table class="table table-bordered table-condensed table-hover">
			<tr>
				<th style="width:200px;background-color:#cccccc;padding:5px;">Titulo</th>
				<th style="background-color:#cccccc;padding:5px;width:10px"></th>
			</tr>
			{% for datos in lista %}
				<tr>
					<td style="padding=5px;">
						<a href="/concejo/video/{{ datos['video'] }}">{{ datos['nombre'] }} (VIDEO)</a>
					</td>
					<td style="padding=5px;">
						<span class="link" onclick="deleteID({{ datos['id'] }})">Borrar</span>
					</td>
				</tr>
			{% endfor %}
		</table>
		{% if pagSiguiente <= paginas %}
			<a id="vinculo" href="video?pag={{ pagSiguiente }}" > - Siguiente</a>
		{% endif %}
		{% if pagAnterior > 0 %}
			<a id="vinculo" href="video?pag={{ pagAnterior }}"> - Anterior</a>
		{% endif %}
	</div>
	<div id="formulario">
		<h4>Agregar un nuevo video</h4>
		<form id="form" enctype="multipart/form-data" action="{{ SERVER|escape }}" method="post" >
			<label>Cargar video:</label>
			<input type="hidden" name="MAX_FILE_SIZE" value="20480000" />
			<input type="file" name="video" id="videoFile"/><br />
			<progress id="progress_bar" value="0" max="100"></progress>
			<h3 id="status"></h3>
			<input type="hidden" id="add" name="add" value="0" />
			<input type="hidden" id="dele" name="dele" value="0" />
			<input type="hidden" id="upload" value="/concejo/admin/vidUpload.php" />
			<label>Nombre:</label>
			<input type="text" class="form-control" id="nombre" /><br />
			<label>Descripcion:</label>
			<input type="text" class="form-control" id="descripcion" /><br />
			<input type="button" value="Agregar" class="btn btn-primary" onclick="uploadVideo()"/>
		</form>
	</div>		
{% endblock %}
