<div id="wrapper">
<div id="main_footer">
	<div id="footer" class="container">
		<div class="row">			
			<div class="col-xs-4 col-sm-12 col-md-12 col-lg-12">
				<ul>
					<li><a href="/concejo/">Inicio</a></li>
					<li class="separador_inferior">~</li>
					<li><a href="/concejo/directiva">Junta Directiva</a></li>
					<li class="separador_inferior">~</li>
					<li><a href="/concejo/biografias">Biografias</a></li>
					<li class="separador_inferior">~</li>
					<li><a href="/concejo/biblioteca">Bibliotecas</a></li>
					<li class="separador_inferior">~</li>
					<li><a href="/concejo/fotos">Fotos</a></li>
					<li class="separador_inferior">~</li>
					<li><a href="/concejo/vid">Videos</a></li>
					<li class="separador_inferior">~</li>
					<li><a href="/concejo/mapa">Mapa</a></li>
				</ul>
				<p class="footer_texto"><small>© Derechos reservados 2016 MP</small> Portal web desarrollado y diseñado para el </p>
				<p class="footer_texto"><strong>Concejo municipal del municipio Zamora.</strong></p>
				<p class="footer_texto">Villa de Cura - Edo Aragua. </p>
				<p class="footer_texto">Se recomienda el uso del navegador gratuito <STRONG>Mozilla firefox</STRONG> para visualizar esta web.</p>
			</div>
		</div>
	</div>
</div>
</div>
</body>	
</html>
