<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="/concejo/css/estilo.css" rel="stylesheet" type="text/css" />
<link href="/concejo/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/concejo/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="/concejo/css/youtube.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/concejo/css/normalize.css" type="text/css" />
<link rel="stylesheet" href="/concejo/css/carousel-fade.css" type="text/css" />
<link rel="shortcut icon" href="/concejo/imagenes/favicon.jpg" />
<link rel="canonical" href="http://concejodelmunicipiozamora.org.ve" />
<script type="text/javascript" src="/concejo/js/jquery-1.12.1.js" ></script>
<script type="text/javascript" src="/concejo/js/jquery-ui.js" ></script>
<script type="text/javascript" src="/concejo/js/bootstrap.js" ></script>
<script type="text/javascript" src="/concejo/js/efectos.js" ></script>
<script type="text/javascript" src="/concejo/js/main.js" ></script>
<script type="text/javascript" src="/concejo/js/youtube.js" ></script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="Sitio web del Consejo municipal del municipio Zamora" />
	<meta name="keywords" content="consejo, villa de cura, zamora, municipio, gobierno" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Concejo municipal Bolivariano de Zamora</title>
</head>
<body>
	<header>
		<div id="header">
				<img src="/concejo/imagenes/logo.png" class="img-responsive" />
		</div>
		<nav id="menu" role="navigation">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a href="/concejo/">Inicio</a></li>
					<li><a href="/concejo/directiva">Junta Directiva</a></li>
					<li><a href="/concejo/biografias">Biografias</a></li>
					<li><a href="/concejo/biblioteca">Bibliotecas</a></li>
					<li><a href="/concejo/fotos">Fotos</a></li>
					<li><a href="/concejo/vid">Videos</a></li>
					<li><a href="/concejo/mapa">Mapa</a></li>
				</ul>
				<div id="animation_container">
					<div>
						<p>{{ fecha|upper }}</p>
						<p>{{ fecha|upper }}</p>
					</div>
				</div>
			</div>
		</nav>
	</header>