{% extends 'base.twig.html' %}

{% block content %}
	<div id="section" class="well well-lg">
		<h1><strong>GALERIA DE IMAGENES</strong></h1>
		<h4>Disfruta de nuestra sala multimedia.</h4>
	</div>
	{% for datos in lista %}
		<div id="previa">
			<span class="link" onclick="triggerModal('/concejo/galeria/{{ datos['image'] }}')">
			<img src="/concejo/galeria/thumb_{{ datos['image'] }}" />
			</span>
			<p> {{ datos['nombre'] }}</p>
		</div>
	{% endfor %}

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Galeria</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>      
    </div>
  </div>
	
	<ul class="pager">
	{% if pagSiguiente <= paginas %}
		<li class="next">
			<a href="fotos?pag={{ pagSiguiente }}"> Siguientes <small>>></small></a>
		</li>
	{% endif %}
	{% if pagAnterior > 0 %}
		<li class="previous">
			<a href="fotos?pag={{ pagAnterior }}"><small><<</small> Anteriores</a>
		</li>
	{% endif %}
	</ul>
{% endblock %}

		
		
		
		
