{% extends 'base.twig.html' %}

{% block content %}
	<div id="login" class="center-block form-group">		
		<h2>INICIAR SESION</h2>
		<form name="login" method="POST" action="{{ php|escape }}">
			<label for="usuario">Usuario: </label>
			<input type="text" maxlength="12" name="usuario" class="form-control" value="" required/>
			<label for="pass">Contraseña: </label>
			<input type="password" maxlength="12" name="pass" class="form-control divided" value="" required/>
			<input type="submit" name="loginbt" class="center-block btn btn-primary" value="Entrar"/>
		</form>
		{% if error is not empty %}
			<script> alert("{{ error }}"); </script> 
		{% endif %}
	</div>
{% endblock %}

