{% extends 'base.twig.html' %}

{% block content %}
	<div id="section" class="well well-sm">
		<h1><strong>NUESTRA MISION Y VISION</strong></h1>
		<h4>NUESTRA META PRINCIPAL COMO CONCEJO MUNICIPAL.</h4>
	</div>
	<div id="section" class="well well-lg">
		<div>
			<h2><strong>MISION</strong></h2>
			<p>Legislar en materia de su competencia sobre la organización y funcionamiento de los distintos órganos del Municipio y sobre los asuntos de índole humano, cultural, social y geográfico del pueblo,  velando y atendiendo su participación protagónica para favorecer y fortalecer su desarrollo integral y sustentable.</p>
			<h2><strong>VISION</strong></h2>
			<p> Tener un Gobierno Municipal organizado, con capacidad de gestión, económicamente fuerte, con recursos humanos calificados, prestador de servicios de calidad, que goce de credibilidad y legitimidad, para liderar, coordinar y concertar el desarrollo integral del Municipio de Zamora.</p>
		</div>
	</div>
{% endblock %}
